version: 2

updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    versioning-strategy: increase
    assignees:
      - DoRightt

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    assignees:
      - DoRightt